{% extends 'base.html' %}

{% block contenedor %}

    <div id="dgtic-content-area">

                        <div class="row-fluid">
                        	<div class="span6">
                            	<div class="dgtic-panel">
                                	<div class="dgtic-panel-header">
                                    	<span class="dgtic-panel-title">
                                            <i class="icol-cog"></i> Registrar una profesión
                                        </span>
                                    </div>
                                    <div class="dgtic-panel-content dgtic-form-container">

                                    <div class="dgtic-form-inline">

                                        <form method="post" action="" enctype="multipart/form-data" class="dgtic-form">{% csrf_token %}
                                               {% include 'form_snippets.html' %}
                                                <div class="btn-row">

                                                    <button class="btn btn-success btn-small">Guardar</button>
                                                </div>
                                        </form>

                                    </div>

                                    </div>
                                </div>
                            </div>
                        </div>
    </div>

{% endblock %}