{% extends 'base.html' %}

{% block contenedor %}




    <div class="span12">
                            	<div class="dgtic-panel collapsible">
                                	<div class="dgtic-panel-header">
                                    	<span class="dgtic-panel-title">
                                            <i class="icon-display"></i>
                                            BIENVENIDOS AL SISTEMA DE CAPACITACIÓN Y FORMACIÓN
                                        </span>
                                    <div class="dgtic-panel-toggler"><span></span></div></div>
                                    <div class="dgtic-panel-inner-wrap" style="display: block;"><div class="dgtic-panel-content with-padding">
    		                       <fieldset>
		                             <legend>Misión</legend>
                                        &nbsp;&nbsp;&nbsp;Ofrecer servicios de capacitación que constituyan la base de la profesionalización del servicio público; formando servidores públicos eficaces, eficientes, y comprometidos socialmente con el desarrollo de sus Instituciones y con el bienestar de la ciudadanía.
	                               </fieldset>
                                   <fieldset>
		                            <legend>Visión</legend>
                                        &nbsp;&nbsp;&nbsp;Ser una entidad rectora en materia de capacitación con altos estándares de calidad que contribuyan al desarrollo humano y la formación de competencias en los servidores públicos; con el propósito de mejorar el servicio público y el desempeño institucional y personal del servidor público.
	                               </fieldset>
    		                         </div></div>
                                </div>
    </div>



{% endblock contenedor %}

